= content_for :breadcrumb do
  %ul.breadcrumb
    %li.active  
      CLAIMS
.row{:style=>"margin-left: 0px;"}
  .span12
    .span7
      .pull-left
        = search_form_for [@search], :html => { :class => 'form-search' } do |f|
          .pull-left
            = f.text_field :patient_name_cont , :placeholder => "Name search"
            = f.select :status_eq ,search_status_types, {}, {:class => 'input-small search_list'}
            = f.select :scheme_eq ,search_scheme_types, {}, {:class => 'input-medium search_list'}
            = f.text_field :ip_no_cont , :placeholder => "IP no search",:class => 'input-medium search_list'
            = f.text_field :uhid_no_cont , :placeholder => "Uhid no search",:class => 'input-medium search_list'

            = f.submit "Search",  :class => 'btn btn-info', data: { disable_with: 'Searching...'}
          .clearfix
    .span4
      .pull-right
        .row
          = link_to "New Claim", new_claim_path, :class => 'btn btn-success'
          = link_to 'Import File', '#', :onclick => "$('.import-file').toggle(); return false;", :class => 'btn btn-secondary'
          = link_to "Export CSV", "claims.csv?#{params.except('action', 'controller', 'commit', 'utf8').to_query}", :target => "_blank", :class => 'btn btn-info'
      .clearfix
       
    .hide.import-file
      .span4
        .pull-right
          = form_tag import_claims_path, multipart: true do
            = file_field_tag :file
            = submit_tag "Import", :class => 'btn btn-info btn-small'
        .pull-right

    


%table.table.table-bordered.table-hover
  %tr
    %th Patient Name
    %th Scheme
    %th District
    %th Claim Amount
    %th Status
    %th Hospital charges
    %th Medicine charges
    %th Implant charges
    %th.span3
 

  - @claims.each do |claim|
    %tr
      
      %td= claim.patient_name rescue ""
      %td= claim.scheme rescue ""
      %td= claim.district rescue ""
      %td= claim.claim_amount rescue ""
      %td= claim.status rescue ""
      %td= claim.hospital_charge rescue 0.0
      %td= claim.medicine_charge rescue 0.0
      %td= claim.implant_charge rescue 0.0


      
      %td
        = link_to 'Show', claim, :class => 'btn btn-mini'
        = link_to 'Edit', edit_claim_path(claim), :class => 'btn btn-mini btn-warning'
        = link_to 'Delete', claim, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

.center
  = will_paginate(@claims)

