.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner.navbar-custom
    .container-fluid
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar   
      - if current_user 
        = link_to link_text("AyusClaim", ''), claims_path, :class => 'brand fa fa-home'
      .nav-collapse.collapse
        %ul.nav.navbar-nav
    
          - if current_user
            %ul.nav
              //%li= link_to "Claims" , claims_path, :class => "#{ ('disabled' if request.fullpath == claims_path) }"
              %li= link_to link_text('Claims', 'fa fa-tasks'), claims_path
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-signal.fa-white
                  Statistics
                  %b.caret
                %ul.dropdown-menu
                  %li.black= link_to "Claim Stats" , claim_stats_path, :class => "#{ ('disabled' if request.fullpath == checklists_path) }"
                  %li.black= link_to "Claims Summary" , claims_summaries_path, :class => "#{ ('disabled' if request.fullpath == checklists_path) }"

      .pull-right.navbar-text
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench.fa-white
              Settings
              %b.caret
            %ul.dropdown-menu
              %li.black= link_to "Checklist" , checklists_path, :class => "#{ ('disabled' if request.fullpath == checklists_path) }"
              - if current_user.admin_user?
                %li.black= link_to "Members" , members_path, :class => "#{ ('disabled' if request.fullpath == checklists_path) }"
          %li= link_to "Log Out".html_safe, destroy_user_session_path,:method => :delete,:class =>'navbar-brand'

      .clearfix
%br