= content_for :breadcrumb do
  %ul.breadcrumb
    %li.active  
      NEW CHECKLISTS 
.pull-right
  %p
    = link_to "New Checklist", new_checklist_path, :class => 'btn btn-success'
    = link_to 'Import File', '#', :onclick => "$('.import-file').toggle(); return false;", :class => 'btn btn-secondary'
%br
%br  
.pull-right  
  .hide.import-file
    .pull-right
      = form_tag import_claims_path, multipart: true do
        = file_field_tag :file
        = submit_tag "Import", :class => 'btn btn-info btn-small'
    .clearfix
.clearfix


%table.table.table-bordered.table-hover
  %tr
    %th Name
    %th.span3
 

  - @checklists.each do |checklist|
    %tr
      
      %td= checklist.checklist_name rescue ""
      %td
        = link_to 'Edit', edit_checklist_path(checklist), :class => 'btn btn-mini btn-warning'
        = link_to 'Delete', checklist, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

