= content_for :breadcrumb do
  %ul.breadcrumb
    %li.active  
      NEW CHECKLISTS 
.pull-right
  %p
    = link_to "New Checklist", new_checklist_path, :class => 'btn btn-success'


%table.table.table-bordered.table-hover
  %tr
    %th Name
    %th.span3
 

  - @checklists.each do |checklist|
    %tr
      
      %td= checklist.checklist_name rescue ""
      %td
        = link_to 'Show', checklist, :class => 'btn btn-mini'
        = link_to 'Edit', edit_checklist_path(checklist), :class => 'btn btn-mini btn-warning'
        = link_to 'Delete', checklist, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

